body {
    margin: 0;
    background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

nav {
    padding: 1px 0;
    color: #35A7F2;
}

.header-top{
    display: inline-flex;
}

.header-left{
    margin-left: 100px;
    margin-right: 250px;
}
.header-left img{
    width: 130px;
    margin-top: 15px;
}

.header-middle{
    text-align: center;
    margin-right: 300px;
}

nav .header-middle h6 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0 0 0;
}

nav .header-middle .middle {
    text-align: center;
    padding: 10px 0 0px 0;
    text-indent: 105px;
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 5px;
}

nav .header-middle .last {
    text-align: center;
    padding: 12px 0;
    text-indent: -30px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
}

.header-right{}
.header-right .social-icon{
    font-size: 32px;
    margin-top: 15px;
}
.header-right .social-icon i{
    margin-right: 3px;
}

.header-right .search-box {
    display: inline-flex;
    margin-top: 7px;
}
.header-right .search-box input[type=text] {
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: white;
  height: 25px;
}

.header-right .search-box button {
  float: left;
  width: 20%;
  padding:5px;
  background: #2196F3;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

/* header top finish  */

.main-navbar {
    margin-top: -17px;
    background: #35A7F2;
    text-align: center;
}

.main-navbar ul {
   padding: 15px 0;
}

.main-navbar ul li {
    display: inline;
    padding: 18px 15px;
}

.main-navbar ul li a {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    padding: 15px 0;
    text-transform: uppercase;
}

.main-navbar ul li:hover {
    background: black;
    transition: 1s;
}

.main-navbar i{
    position: relative;
    top: -5px;
    font-size: 14px;
    margin-left: 7px;
}

/* main navbar end */
.position{
    position: relative;
    top: -15px;
}
.slider{
    overflow: hidden;
}
.slider-img img{
    width: 100%;
    height: 500px;
}

/* Slider End */
.content{
    display: inline-flex;
    padding: 15px 0;
}

.left-side{
    width: 50%;
    padding-right: 15px;
    padding: 15px 30px 20px 50px;
}

.left-side h1{
    font-size: 36px;
   padding-bottom: 20px;
}

.left-side p{
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    letter-spacing: px;
}

.right-side{
    width: 50%;
    padding: 0 50px;
}

.right-side ul{
    padding: 0;
    padding-top: 25px;
    
}

.right-side ul li{
    display: inline;
    padding: 20px 30px;
    background: #35A7F2; 
    font-size: 20px;
}

.right-side ul li:hover{
    background: black; 
}

.right-side ul li a{
    text-decoration: none;
    color: white;
}

.right-side p{
    width: 596px;
    margin-top: 19px;
    border: 1px solid #35A7F2;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    padding: 10px;
}

/*  content end  */

.all-services{
    background: #F5F5F5;
    padding: 50px 50px 100px 50px;
}

.all-services h1{
    text-align: center;
    color: #35A7F2;
}

.card{
    display: inline-flex;
    text-align: justify;
    text-align: center;
    color: grey; 
    padding: 50px;
}

.same{
    width: 25%;  
    margin: 10px;
    padding: 5px;
    border: 1px solid grey;  
}

.same a{
    text-decoration: none;
}

.same:hover{
    background: white;
     border: 1px solid #35A7F2;
}

.card-img{
    padding: 20px;
    border-radius: 50%;
    width: 170px;
    height: 120px;
}

.card-header{
    font-size: 32px !important;
    padding: 15px;
    font-size: 23px;
    letter-spacing: 2px;
    color: grey !important;
}

.card-body{
    line-height: 22px;
    margin-bottom: 20px;
    color: ;
}

.all-service{
    text-align: center;
}

.all-service button{
    font-size: 22px;
    padding: 20px;
    background: #35A7F2;
    color: white;
    outline: none;
    border: none;
}

.all-service button:hover{
    background: black;
}

/*  Card End   */
.recent-project{
    background: white;
}
.project-header{
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    color: #35A7F2;
    border-bottom-style: double;
    border-bottom: 1px #35A7F2;

}
.project-header h1{
    font-size: 28px !important;
    font-weight: 400;
}
.big{
    font-size: 60px;
}



.projects{
    display: inline-flex;
    padding-bottom: 70px;
}

.same-img{
    width: 25%;
    padding: 15px;
}

.same-img img{
    width: 100%;
}

/* owl slider start  */
.owl-slider{
    background: #F5F5F5;
    padding: 50px 0;
}

.align{
    margin-left: 150px;
    margin-right: 150px;
}

.img-align{
    
}
.owl-carousel img{
    width: 200px !important;
    height: 180px;
    
}
/* owl slider End  */


.company-details{
    background: #35A7F2;   
}

.details{
    display: inline-flex;
    margin-left: 150px;
    margin-right: 150px;
}

.details .elements{
    padding: ;
    
    color: white;
}
.one-ele{
    width: 30%;
    padding: 15px;
}

.two-ele{
   width: 30%;
    padding: 15px;
}

.three-ele{
   width: 30%;
    padding: 15px;
}

.four-ele{
   width: 30%;
    padding: 15px;
}

.details h3{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.details p{
    line-height: 25px;
    font-size: 14px;
}
.details i{
    margin-right: 5px;
}
/* details end */
.footer-design {
    margin-top: -5px;
    padding: 15px 0;
    background: white;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.footer-social-icon i{
    color: #35A7F2;   
    font-size: 30px; 
    padding: 10px;
     
}

.footer-social-icon i.fab{
    padding: 4px;
    transform: rotate(-45deg);
}
.footer-social-icon i.fab:hover{
    transform: rotate(0deg);
}
